# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY= edd1c9f034335f136f87ad84b625c8f1

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/ai_rate_limiter

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

# API Gateway Configuration
APISIX_GATEWAY_URL=http://localhost:9080
APISIX_ADMIN_URL=http://localhost:9180

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8501

# Logging Configuration
LOG_LEVEL=INFO
LOG_FILE=logs/app.log 